body {
  background-image: url('../../assets/images/BG-dangky.png');
}

.wrap-content {
  width: 55%;
  margin: 0 auto;
}

.content {
  width: 90%;
  padding-top: 20px;
  position: relative;
}

.input-type {
  margin: 15px 0;
}

.text {
  color: #00CEC2;
  font-weight: bold;
  font-size: 23px;
  line-height: 38px;
}

.select {
  padding: 23px 0px 10px 10px;
  border-radius: 8px;
  width: 100%;
  border: 2px solid #0085FF;
  outline: none;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  height: 12px;
  background-color: #ffffff;
  margin-top: 20px;
}

.select>span {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 8%;
  white-space: nowrap;
  overflow: hidden;
}

.icon-arrow {
  position: absolute;
  transform: translate(-50%, -50%);
  color: #000000;
  right: 0;
  top: 50%;
  /* width: 200px; */
  /* white-space: nowrap; 
  overflow: hidden; */
}

.content .list-option {
  display: none;
  width: 100%;
  border-radius: 8px;
  border: 2px solid #0085FF;
  padding: 10px 0;
  position: absolute;
  background-color: #ffffff;
  font-weight: normal;
  height: 200px;
  overflow-x: hidden;
  overflow-y: scroll;
  /* margin-top: 2px; */
  z-index: 4;
}

.list-option::-webkit-scrollbar {
  width: 10px;
}

.list-option::-webkit-scrollbar-thumb {
  background: #ff3372;
  border-radius: 20px;
}

.list-option::-webkit-scrollbar-track {
  background: #ffcddd;
  border-radius: 20px;
}

.list-option label {
  cursor: pointer;
  display: block;
  padding: 12px 10px;
  transition: all 0.3s;
}

.list-option label.active {
  color: #ff3372;
  font-weight: bold;
}

.list-option label:hover {
  background-color: #ff74a0;
  color: white;
}
.filter:hover .list-option{
  display: block;
}
.text-label-ad{
  display: block;
  padding-top: 20px;
}
.bt-2{
  margin-top: 150px;
  margin-left: 45%;
}