html {
    scroll-behavior: smooth;
}

body {
    font-family: "RalewayRegular";
    box-sizing: border-box;
    overflow-x: hidden;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 50px;
}
.title{
    font-weight: 700;
    font-size: 64px;
    line-height:75,14px;
    color: #F95C19;
}
.input-type{
    display: block;
    padding: 10px 0px 10px 10px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 2px solid #0085FF;
    outline: none;
    box-sizing: border-box;
}
.input-type:focus{
    border-radius: 10px;
    border: 2px solid #0085FF;
}