
header .container {
  display: flex;
  justify-content: space-around;
  padding-bottom: 0px;
}

header .logo {
  width: 40%;
  position: relative;
}
header .logo img{
  width: 50%;
  position: absolute;
  top: -20px;
}
header .content-right {
  width: 60%;
}
header ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #817382;
  font-weight: bold;
  margin-right: 20px;
}
header ul li .search{
  color: #817382;
}
header ul li .search:hover{
  color: #F95C19;
  cursor: pointer;
}
header ul li .login-href{
  color: #ffffff;
  background-color: #F95C19;
  padding: 5px;
  border-radius: 20px;
}
header ul li:hover{
  color: #F95C19;
  cursor: pointer;
}